<!-- Add the header using EJS partials-->
<%- include("partials/header") -%>


<h1>About</h1>

<!-- Take home About content from app.js-->
<!-- Use EJS scripting -->
<p><%= aboutContent %></p>


<!-- Add the footer page using EJS partials-->
<%- include("partials/footer") -%>
