<!-- Add the header using EJS partials-->
<%- include("partials/header") -%>


<h1>Contact</h1>

<!-- Take home contact content from app.js-->
<!-- Use EJS scripting -->
<p><%= contactContent %></p>

<!-- Add the footer page using EJS partials-->
<%- include("partials/footer") -%>
